<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Beer Time App</title>
</head>
<body>
    <header>
        <h1>Beer Time App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('beer_time') }}">Beer Time</a></li>
                <li><a href="{{ url_for('results') }}">Results</a></li>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
